/* This is open sans style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 /* this is section general */

 .primary-color{
    color: #FD6E0A;
}
.primary-button{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding:10px 20px;
    font-size: 20px;
    font-weight: bold;
    border:none;
}
.overall{
    background-image: url('/images/developer.png') , url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    
}

/* This is navbar zone */

nav ul{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 150px;
}
 nav>div , .main{
    margin-left: 200px;
 }

 .nav-text{
    color: rgb(54, 52, 52) ;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
 }
nav li{
    list-style: none;
    /* margin-left: 30px; */
    font-size: 20px;
    
}
nav{
    margin:10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mary-nav{
    font-size: 45px;
    font-weight: bolder;

}
/* nav bar section ended here */
/* Banner section start */
.banner{
    display: flex;
    align-items: center;
  
}
.greeting-text{
    font-weight: bold;
    font-size: 45px;
    color: rgb(54, 52, 52) ;
}
.greeting-head-text{
    font-weight: bold;
    font-size: 45;
    color: black;
}
.greeting-paragraph{
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color:#757575;
}
.banner-button{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border:none;
   padding:20px 40px;
}

.contact{
    color: #FD6E0A;
    background-color:white ;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
   padding:20px 40px;
   margin-left: 30px;
}
.banner-img{
    width: 584 auto;
    height: 676 auto;
    margin-right: 30px;
}

/* about me section start */

.about-me{
    border: 140px solid pink;
    margin: 135px;
    padding: 10px;
   

}
.about-me-heading{
    text-align: center;
    font-weight: bold;
    font-size: 45;
    line-height: auto;
}

.about-topic{
    display: flex;
    gap:40px;
    justify-content: center;
    
}
.about-p1{
    text-align: center;
    line-height: 30px;
    font-size: 20;
    color:#757575;
    font-weight: normal;
}

.about-p2{
    line-height: 30px;
    font-size: 20;
    color:#474747;
    font-weight: bolder;
}


